{% extends "base.html" %}
{% block title %}
    {% if flag_edit %}Редактировать запись
    {% else %}
        Добавить запись
    {% endif %}
{% endblock %}
{% block header %}
    {% if flag_edit %}Редактировать запись
    {% else %}
        Добавить запись
    {% endif %}
{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        {% if flag_edit %}<input type="submit" value="Сохранить" />
    {% else %}
        <input type="submit" value="Добавить" />
    {% endif %}
</form>
{% endblock %}