{% extends "base.html" %}
{% load thumbnail %}
{% block title %} {{ user.last_name }} {{ user.first_name }} {% endblock %}
{% block header %}Публикация пользователя{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                <div class="card-body">
                    <div class="h2">
                        {{ user.first_name }} {{ user.last_name }}
                    </div>
                    <div class="h3 text-muted">
                        @{{ user }}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            Подписчиков: XXX <br />
                            Подписан: XXX
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            Записей: {{ count_all_posts }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3 mt-1 shadow-sm">
                {% thumbnail post.image "960" crop="center" upscale=True as im %}
                <img class="card-img" src="{{ im.url }}">
            {% endthumbnail %}
            <div class="card-body">
                <p class="card-text">
                    <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки -->
                    <a href="/{{ user }}/"><strong class="d-block text-gray-dark">@
                    {{ user }}</strong></a>
                    <!-- Текст поста -->
                    {{ post.text|linebreaksbr}}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group ">
                        {% if request.user == post.author %}
                            <a class="btn btn-sm text-muted"
                            href="/{{user}}/{{ id }}/edit" role="button">Редактировать</a>
                        {% endif %}
                    </div>
                    <!-- Дата публикации  -->
                    <small class="text-muted">{{ post.pub_date|date:"d M Y H:m" }}</small>
                </div>
                <hr>
                </div>
                </div>
            {% include "comments.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}