{% extends "base.html" %}
{% block title %} {{ user.last_name }} {{ user.first_name }} {% endblock %}
{% block header %}Профиль пользователя{% endblock %}
{% block content %}
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="h2">
                    {{ user.first_name }} {{ user.last_name }}
                </div>
                <div class="h3 text-muted">
                    @{{ user }}
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="h6 text-muted">
                        Подписчиков: XXX <br />
                        Подписан: XXX
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="h6 text-muted">
                        <!-- Количество записей -->
                        Записей: {{paginator.count}}
                    </div>
                </li>
            </ul>
        </div>
        <div>
            {% for post in page %}
                <!-- Вот он, новый include! -->
                {% include "post_item.html" with post=post %}
            {% endfor %}
            {% if page.has_other_pages %}
                {% include "paginator.html" with items=page paginator=paginator %}
            {% endif %}
        </div>
    </div>
{% endblock %}